.menu {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-inter);
  background-color: var(--color-quaternary);
  border-radius: var(--spacing-4);
  padding: var(--spacing-5) var(--spacing-4);
  user-select: none;
}

.item {
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-black);
  font-size: var(--spacing-4);
  padding-bottom: var(--spacing-4);
  margin-bottom: var(--spacing-4);
  border-bottom: 1px solid var(--color-black);
}

.item:active {
  color: var(--color-secondary);
}

.item:last-child {
  border: none;
}

.activated {
  font-weight: 700;
  color: var(--color-success);
  border-bottom: 2px solid var(--color-success);
}

/* Tablet: menu horizontal fixo no topo */
@media (max-width: 720px) {
  .menu {
    width: 100%;
    background-color: transparent;
    flex-direction: row;
    margin-bottom: none;
    gap: var(--spacing-3);
  }

  .item {
    border-bottom: none;
    margin-bottom: 0;
  }

  .activated {
    border-bottom: 2px solid var(--color-success);
  }

  .item:last-child.activated {
    border-bottom: 2px solid var(--color-success);
  }
}
