.statement {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.statementWrapper {
  width: 282px;
  padding: var(--spacing-8) var(--spacing-6);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-6);
}

.header span {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 25px;
}

.iconWrapper {
  display: flex;
  gap: var(--spacing-4);
}

.iconWrapper svg {
  width: 40px;
}

.statementListWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
}
