.financialSummary {
  width: 100%;
  max-width: 680px;
  height: 402px;
  padding: var(--spacing-6);
  background-color: var(--color-primary);
  border-radius: var(--spacing-2);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: var(--spacing-6);
}

.greetingText {
  font-family: var(--font-inter);
  font-size: 25px;
  font-weight: 600;
  color: var(--color-white);
}

.dateLong {
  font-family: var(--font-inter);
  font-size: 13px;
  font-weight: 400;
  color: var(--color-white);
}

.financialBalance {
  display: flex;
  justify-content: flex-end;
}

.balanceBox {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.headingBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-4);
}

.headingBox h3 {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 600;
  color: var(--color-white);
}

.headingBox svg {
  width: 20px;
  height: 20px;
  fill: var(--color-secondary);
}

.divider {
  width: 100%;
  max-width: 180px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: var(--color-secondary);
}

.checkingAccount {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}

.checkingAccount h4 {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
}

.checkingAccount span {
  font-family: var(--font-inter);
  font-size: 31px;
  font-weight: 400;
  color: var(--color-white);
}

@media (max-width: 720px) {
  .financialSummary {
    max-width: 600px;
  }
}
