.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner .title {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: var(--spacing-7);
  color: var(--color-black);
  max-width: 480px;
}
